<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Young Girls looking to please </title>
<meta http-equiv="Content-Language" content="en" />
<link href="/static/css/style_sheet.css" rel="stylesheet" type="text/css" media="screen"/>
<style>
p{
 font-size:125%;
 color:white;
}
li{
 font-size:135%;
 color:white;
}
body {
	
	background-color:#000000;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	/*background-color: #000000;*/ 
  color: #000000;
}
</style>
</head>
<body>
</div>

<div class="content_txt">



<p align="justify" >Please read the disclosure statement below and enter only if you agree to its terms and are at least 21 years old. All others are directed to exit immediately.</p>
<br>
<br>

<ul>
<li>	I am at least 21 years of age.</li>
<li>	I am not affiliated with an form of law enforcement or acting on any law enforcement agency's behalf.</li>
<li>	I do not work for or report to any government agencies in any capacity.</li>
<li>	The material I am choosing to view is only for my personal use and will not be viewed by minors.</li>
<li>	I acknowledge and certify that the material being presented here not illegal or banned from my community, city or state.</li>
</ul>
<br>
<br>

<p align="justify">I acknowledge that by "clicking" on "YES" I am electronically signing to all of the facts # 1-5 stated above and will exit immediately if I cannot attest to same.</p><br><br>
<br>
<br>
<br>
<p align="center"><a href="/index"><strong style="font-size:26px;">YES</strong></a></p><br>
<p align="center"><a href="http://www.google.com/" rel="nofollow"><strong style="font-size:26px;">No</strong></a></p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="bottom">
<div align="center">

	
  	<div align="center" style="color:white;">Copyrights &copy; 2012 ManhattanCityKitties All rights are reserved</div>
</div>
</div>


</body>
</html>
